<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ExJava/src/java_0120/_001IfEx.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="java_0120._001IfEx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="100&#13;&#10;30&#13;&#10;포도&#13;&#10;99&#13;&#10;2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ExJava"/>
</launchConfiguration>
